{# templates/security/modifierProfil.html.twig #}

{% extends 'base.html.twig' %}

{#HEAD#}
   
{% block title %} {{ title }} {% endblock %}
{% block meta_description %}Le truc qui apparait dans les recherches google{% endblock %}
{% block stylesheets %} <link href="{{ asset('css/modifierProfil.css') }}" rel="stylesheet"> {% endblock %}

{#FIN DE HEAD#}

{#HEADER#}
{% block header %}{% endblock %}
{#FIN DE HEADER#}

{#MAIN#}
{% block main %}

<div class="container fond">

	{{ render(controller('App\\Controller\\TableauDeBordController::navTableauDeBord')) }}

	<h3 class="titre text-center">Modifier mon Profil</h3>

    <div class="row">

		<div class= "col-sm-12">

            {{ form_start(form) }}
            
            <div class="groupCategorie">
                <div class="card-body">
                    <i class="fas fa-user"></i>
                    <span class="titreCategorie">MON PROFIL PERSONNEL</span>
                </div>
                <div class="col-sm-10 contenuCategorie">
                    <div class="form-group">{{ form_row(form.prenomMembre, {attr: {class: "form-control"} }) }}</div>
                    <div class="form-group">{{ form_row(form.prenomMembre, {attr: {class: "form-control"} }) }}</div>
                    <div class="form-group">{{ form_row(form.nomMembre, {attr: {class: "form-control"} }) }}</div>
                    <div class="form-group">
                        <div class="form-inline">{{ form_row(form.sexeMembre, {attr: {class: "form-check-input"} }) }}</div>
                    </div>
                    <div class="form-group">{{ form_row(form.dateDeNaissance, {attr: {class: "form-control"} }) }}</div>
                </div>
            </div><!--fin groupCategorie -->

            <div class="groupCategorie">
                <div class="card-body">
                    <i class="fas fa-envelope"></i>
                    <span class="titreCategorie">MES COORDONNEES</span>
                </div>
                <div class="col-sm-10 contenuCategorie">
                    <div class="form-group">{{ form_row(form.adresseMembre, {attr: {class: "form-control"} }) }}</div>
                    <div class="form-group">{{ form_row(form.cpMembre, {attr: {class: "form-control"} }) }}</div>
                    <div class="form-group">{{ form_row(form.villeMembre, {attr: {class: "form-control"} }) }}</div>
                    <div class="form-group">{{ form_row(form.telephoneMembre, {attr: {class: "form-control"} }) }}</div>
                    <div class="form-group">{{ form_row(form.emailMembre, {attr: {class: "form-control"} }) }}</div>
                </div>
            </div><!--fin groupCategorie -->

            <div class="groupCategorie">
                <div class="card-body">
                    <i class="fas fa-industry"></i>
                    <span class="titreCategorie">MON PROFIL ENTREPRISE</span>
                </div>
                <div class="col-sm-10 contenuCategorie">
                    <div class="form-group">{{ form_row(form.nomDeSocieteMembre, {attr: {class: "form-control"} }) }}</div>
                    <div class="form-group">{{ form_row(form.siretMembre, {attr: {class: "form-control"} }) }}</div>
                    <div class="form-group">{{ form_row(form.tvaMembre, {attr: {class: "form-control"} }) }}</div>
                </div>
            </div><!--fin groupCategorie -->

            <div class="groupCategorie">
                <div class="card-body">
                    <i class="fas fa-address-card"></i>
                    <span class="titreCategorie">MES INFORMATIONS DE COMPTE</span>
                </div>
                <div class="col-sm-10 contenuCategorie">
                    <div class="form-group">{{ form_row(form.idStatutMembre, {attr: {class: "form-control"} }) }}</div>
                    <div class="form-group">{{ form_row(form.siretMembre, {attr: {class: "form-control"} }) }}</div>
                    <div class="form-group">{{ form_row(form.photoMembre, {attr: {class: "form-control"} }) }}</div>
                    <div class="form-group">{{ form_row(form.passwordMembre.first, {attr: {class: "form-control"} }) }}</div>
                    <div class="form-group">{{ form_row(form.passwordMembre.second, {attr: {class: "form-control"} }) }}</div>
                </div>
            </div><!--fin groupCategorie -->

            <!--bouton enregistrer-->
            <div class="form-group text-center">
                <button type="submit" class="btn btn-success">Enregistrer</button>
            </div>

		{{ form_end(form) }}
        
        </div><!--fin col-sm-12 -->
    </div><!--fin du row-->
</div><!--fin du container-->

{% endblock %}

{#SCRIPT#}
{% block javascripts %}{% endblock %}
{#FIN DE SCRIPT#}