{# templates/public/template.html.twig #}

{% extends 'base.html.twig' %}

{#HEAD#}
    {% block title %} {{ title }} {% endblock %}
    {% block meta_description %}Le truc qui apparait dans les recherches google{% endblock %}
    {% block stylesheets %}
    
    <style>
            #map{
                height: 500px;
            }
            .logo{
                width: 200px;
            }
    </style>
    
    {% endblock %}

{#FIN DE HEAD#}

{#HEADER#}
    {% block header %} <h1>Test Google Map</h1> {% endblock %}
{#FIN DE HEADER#}

{#MAIN#}
{% block main %}
        
        <div class="row">

          <div class="col-sm-5">
              <h1>{{ detail.nomSalle}}</h1>
              <p> Adresse : {{ adresse }} <br>
               Code Postal : {{ cp }} <br>
               Ville : {{ ville }} <br>
          </div>
    </div>

        
        <!--Section map-->
        <div class='container-fluid'>
            <div class="row">
                <div id="map" class="col-sm-12"></div>
            </div>
        </div>

{% endblock %}
{#FIN DE MAIN#}

{#SCRIPT#}
    {% block javascripts %}
    
    <script>
    //variable pour la carte
    var map;
    //fonction initMap appelée par l'API Google
    function initMap()
    {
        //DIV devant recevoir la carte
        var mapDiv = document.getElementById('map');
        //création de la carte
        map = new google.maps.Map(mapDiv, {
            zoom: 17,
            mapTypeId: 'satellite'
        });

        //contenu HTML de la boite d'info
        var contentString = '<div id="content">'+
          '<div id="siteNotice">WebForce3 is here...'+
          '</div>'+
          '<h1 id="firstHeading" class="firstHeading">WebForce3</h1>'+
          '<div id="bodyContent">'+
          '<p><b>WebForce3</b>: Ecole de développeurs Web à Marseille.<br/>'+
          '<img src="http://www.marseille-innov.org/wp-content/uploads/2016/09/logo-webforce3.jpg" class="logo" /></p>'+
          '</div>'+
          '</div>';
        //boite d'info
        var infowindow = new google.maps.InfoWindow({
            content: contentString
        });

        // pour centrer la carte avec une adresse réelle
        var geocoder = new google.maps.Geocoder();
        var address =
              ' {{ adresse }}' + ', ' + '{{ cp }}' + '{{ ville }}' ;
        geocoder.geocode({'address': address}, function(results, status) 
        {
            if (status === google.maps.GeocoderStatus.OK)
            {
                map.setCenter(results[0].geometry.location);
                var marker = new google.maps.Marker({
                    map: map,
                    position: results[0].geometry.location,
                    title: 'quelque part...'
                });

                // ajout de la boite et du listener
                marker.addListener('click', function() {
                    infowindow.open(map, marker);
                });

            } 
            else 
            {
                alert('Geocode was not successful for the following reason: ' + status);
            }

        });

        // pour ajouter une autre adresse réelle
        var geocoder2 = new google.maps.Geocoder();
        var address2 = "Route de Montpellier, 34730 Prades-le-Lez";
        geocoder2.geocode({'address': address2}, function(results2, status2)
        {
            if (status2 === google.maps.GeocoderStatus.OK)
            {
                var marker2 = new google.maps.Marker({
                    map: map,
                    position: results2[0].geometry.location,
                    title: 'Inter c est pour manger'
                });    
            }
            else
            {
                alert('Geocode was not successful for the following reason: ' + status2);
            }       
        });
    }


    </script>
    <script src="https://maps.googleapis.com/maps/api/js?callback=initMap&key=AIzaSyDwMSNslhTJzpI1A8U6iffFKfCCVP47awo" async defer></script>
    
    {% endblock %}
{#FIN DE SCRIPT#}