{# templates/public/index.html.twig #}

{% extends 'base.html.twig' %}



{#HEAD#}
    {% block title %} {{ title }} {% endblock %}
    {% block meta_description %}Lpj, trouver votre salle.{% endblock %}
    {% block stylesheets %}

        <!-- CSS SEARCHBAR -->
        <link href="{{ asset('css/searchbar.css') }}" rel="stylesheet">

        <link href="{{ asset('css/index.css') }}" rel="stylesheet">
    {% endblock %}
{#FIN DE HEAD#}

{% block header %}

    <header class="headerIndex">
        <div id="intro" class="intro-body">
            <div class="container intro">
                <div class="row">
                    <div class="col-lg-8 mx-auto">

                        <h1 class="brand-heading"></h1>
                        {#HEADER#}
                        <h1>SIMPLIFIEZ VOTRE GESTION AVEC LPJ®</h1>
                        <h3> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Créateur de votre solution de Gestion <h3>
                        {#FIN DE HEADER#}
                        <p class="intro-text"></p>
                            
                        <br><br><br><br><br><br><br>
                        <a class="btn btn-info" href="{{ url('salle') }}">Nous contacter</a>    
                        
                    </div>
                </div>
            </div>
         </div>
     
        </div>
      

        </div> 
         
        {# BOUTTON SCROLL#}
        <div class="button-scroll">
            <a href="#product" class="js-scroll-trigger">
                <i class="fa fa-angle-double-down animated"></i>
            </a>
        </div>
    </header>
{% endblock %}

    {# MAIN #}
    {% block main %}

        <!-- Product Section -->
        <div class="container-fluid block-product">
            <section id="product" class="content-section text-center">
                <div class="container">

                    <div class="border-titre-offres">
                        <h2 class="titre-offres my-4">Nos solutions</h2>
                    </div>
                    <h3>FILEMAKER®</h3>
                            <p>La plateforme FileMaker est un logiciel simple mais puissant

LPJ Sàrl développe des CRM et des logiciels sur mesures utilisables sur iPad, iPhone, Mac, Windows et le Web.
                                <br>Des millions de personnes travaillant dans des organisations du monde entier utilisent la plateforme FileMaker pour gérer les contacts, les stocks, les projets, les factures, les fiches horaire et bien plus encore.</p>

                    <div class="row text-center text-lg-left">
                     
                        
                        <div class="col-lg-3 col-md-4 col-xs-6">
                            <a href="#" class="d-block mb-4 h-100">
                                <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-4 col-xs-6">
                            <a href="#" class="d-block mb-4 h-100">       
                                <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-4 col-xs-6">
                            <a href="#" class="d-block mb-4 h-100">
                                <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">                               
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-4 col-xs-6">
                            <a href="#" class="d-block mb-4 h-100">
                                <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-4 col-xs-6">
                            <a href="#" class="d-block mb-4 h-100">
                                <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
                            </a>
                        </div>             
                        
                        <div class="col-lg-3 col-md-4 col-xs-6">
                            <a href="#" class="d-block mb-4 h-100">
                                <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </section>
            {# BOUTTON SCROLL#}
            <div class="button-scroll">
                <a href="#presentation" class="js-scroll-trigger">
                    <i class="fa fa-angle-double-down animated"></i>
                </a>
            </div>
        </div>

        <!-- Presentation Section -->
        <section id="presentation" class="download-section content-section text-center">
            <div class="container-fluid">


                <p class="titre-presentation font-italic col align-self-center">Je suis un <span>particulier / professionel</span> et je souhaite un logiciel de gestion, un CRM...</p>

                <div class="row container-product">

                    <!-- SECTION : PRESENTATION Colonne de gauche -->
                    <div class="col-md-6 left-column">
                        <div class="text-presentation">
                            <h3>FILEMAKER®</h3>
                            <p>La plateforme FileMaker, logiciels, CRM, simple, rapide, efficace.</p>
                        </div>

                        <!-- BOUTTON VALIDATION PRODUIT -->
                        <div class="validation-button-green container text-center">
                            <a style="color:white" href="{{ url('salle') }}"><button type="button" class="btn btn-outline-success  text-center">Je cherche un logiciels</button></a>
                        </div>
                    </div>

                    <!-- SECTION : PRESENTATION Colonne de droite -->
                    <div class="col-md-6 right-column">
                        <div class="text-presentation">
                            <h3>POURQUOI NOUS ?</h3>
                            <p>- Vous êtes une petite ou moyenne structure de Suisse romande ?<br>
                                - Les logiciels de gestion standards disponibles sur le marché ne correspondent pas exactement aux  besoins de votre activité ?<br>
                                - Les solutions « sur-mesure » proposées par les grands opérateurs informatiques vous paraissent<br>
                                hors de proportion et de prix ?<br>Contactez-nous !</p>
                        </div>
                        <!-- BOUTTON VALIDATION PRODUIT -->
                        <div class="validation-button-black container text-center">
                            <a style="color:white" href="{{ url('connexion') }}"><button type="button" class="btn btn-outline-success">Je cherche un CRM</button></a>
                        </div>
                    </div>
                </div>
            </div>                  
            {# BOUTTON SCROLL#}
            <div class="button-scroll">
                <a href="#intro" class="js-scroll-trigger">
                    <i class="fa fa-angle-double-up animated"></i>
                </a>
            </div>
        </section>


    {% endblock %}
    {# FIN DE MAIN #}

    {# SCRIPT PERSO #}
    {% block javascripts %}
    {% endblock %}
    {#FIN DE SCRIPT#}
